<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music | Emilia Cole</title>
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>

<body>

  <!-- header es la parte arriba del home que queda estable -->

  <header>
    <nav>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/music">music</a></li>
      <li><a href="/contact">contact</a></li>
    </nav>
    <nav>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-spotify"></i></a>
      <a href=""><i class="fab fa-apple"></i></a>
      <a href=""><i class="fab fa-amazon"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
    </nav>
  </header>

  <!-- en el main comienza la página -->
  
  <main>
    <h1>music //</h1>
    <h5>direct links</h5>
    <ul>
      <li><a href=""></a>album</li>
      <li><a href=""></a>Video: Organic Love </li>
      <li><a href=""></a>Video: Street Light</li>
    </ul>
    <section>
      <h2 id="album">ALBUM<br>TWIST IN MY REALITY</h2>
      <img src="/images/emilia-music-top.jpg" alt="imagen play list">
      <ul>
      </ul>
      <li><i class="fas fa-play"><a href=""></a> Organic Love | 02:40</i></li>
      <li><i class="fas fa-play"><a href=""></a> Twist in my reality | 02:10</i></li>
      <li><i class="fas fa-play"><a href=""></a> Street Light | 03:28</i></li>
      <li><i class="fas fa-play"><a href=""></a> Love Don’t Live Here Anymore (Cover) | 03:49</i></li>
      <!-- li*4>i.fas.fa-play>a -->
    </section>
    
  </main>
</body>

</html>